<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperCool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7ADDD0181D04BFC100A849DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ADDD02C1D04BFC200A849DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ADDD0371D04BFC200A849DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
